<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Counting Cows</title>
</head>

<body>
    <h1>Let's count some cows</h1>
    How many cows can we count?

    <ul>
        <% if(cows) {%>
            <% for (var prop in cows ) { %>
                <li>
                    <h3>
                        <%= prop %>
                            -
                            <%= cows[prop] %>
                    </h3>
                </li>
                <% } %>
                    <% }%>
    </ul>
</body>

</html>